// Variables

// Font
$roboto: 'Roboto', sans-serif;

// Colors
$orange: #EA9E44;
$orangeHover: #ff9100;
$brown:  #8F6A55;
$markgray: #484848;
$grey: #484848;
$black: black;
$white: white;
$med-brown: #743305;
$det-gray: #484848;
