// Variables

// Font

$roboto: 'Roboto', sans-serif ;

// Colors

$black: black;
$brown:  #8F6A55;
$det-gray: #484848;
$grisFondo: rgba(224, 222, 222, 0.933);
$grey: #484848;
$markgray: #484848;
$orange: #EA9E44;
$orangeHover: #ff9100;
$med-brown: #743305;
$white: white;
