// acordeon
.title_dropdown{
  color: $det-gray;
  font-size: 24px ;
  font-weight: bold ;
  margin-top: 50px ;
  margin-bottom: 20px;
}
.dropdown__info{
  color: $det-gray;
  margin-left: 80px ;
}
.dropdown {
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.3);
    max-width: 1000px;

    input {
      position: absolute;
      opacity: 0;
    }
    p{
      text-align: center;
      font-weight: normal;
      margin-bottom: 10px;
    }
    h3{
      text-align: center;
      font-weight: lighter;
      margin-bottom: 10px;
    }
  }
  .dropdown__main {
    border-bottom:1px solid $orangeHover ;
    color: white;
    overflow: hidden;

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $orange;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: $orangeHover;
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      color: black;
      background: white;
      transition: all .3s;
    }
    &-close {
      display: flex;
      justify-content: center;
      padding: 1em;
      font-size: 0.75em;
      background: $orangeHover;
      cursor: pointer;
      &:hover {
        background: $orange;
      }
    }
  }

  // :checked
  input:checked {
    + .dropdown__main-label {
      background: $orange;
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .dropdown__main-content {
      max-height: 250px;
      padding-top: 10px;
    }
  }
  .info-redes{
    text-align: center;
    margin-bottom: 15px;
    margin-right: 20px;
    ul{
        display: inline-flex;
        list-style: none;

    }
    li{
        margin-right:  20px;
    }
  }
  .users-img{
    display: flex;
    width: 100px;
    margin-bottom: 20px;
  }
