.title-soon{
  font-size: larger;
}
.footer{
  background-image: url('../../img/footer-img.png');
  background-size: cover;
  background-position: center;
  // height: 500px;
  img{
    margin-left: 660px;
    margin-top: 9px
  }
}
