// Learn More button

.learn--more {

  button {

  background: white ;
  border: none ;
  border-radius: 4px ;
  margin-bottom: 20px ;
  margin-left: 200px ;
  padding: 16px 46px 16px 46px ;

    &:hover {

      border: solid 1px black ;
    }
  }
}

// Detail Button

.det-btn {
  button {

    cursor: pointer;
    border: solid 1px $med-brown ;
    border-radius: 2px ;
    background: none ;
    color: $med-brown ;
    margin-left: 200px ;
    padding: 8px 9px 8px 9px ;
  }
  button:hover{
    color: white;
    background-color: $med-brown;
  }
}
