* {

  margin: 0px;
  padding: 0px;
}

#sidebar {

  position: fixed;
  width: 191px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {

  left: 0px;
}

.sidebar-links a{

  font-family: $roboto;
  font-size: 12px;
  display: flex;
  color: $white;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: left;
  text-decoration: none;
}

.sidebar-links a:hover {

  text-decoration: underline;
}

.toggle-btn {

  border: none;
  background-color: rgb(224, 224, 224);
  position: absolute;
  left: 200px;
  top: 20px;
  cursor: pointer;
}

.toggle-btn span {

  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
}
