.form-filter {
  text-align: center ;
  margin-top: -80px;

  input {
    border: solid 1px #484848 ;
    border-radius: 8px ;
    margin-bottom: 50px;
    height: 24px ;
    max-width: 100% ;
    width: 400px;
  }

  &::placeholder {
    color: gray ;
    font-size: 14px ;
    font-weight: lighter ;

  }
  h3{
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.decks-list {
  float: left ;

  li {
    list-style: none ;
  }
}

.back-home{

  float: right ;
  margin-right: 990px ;
  margin-top: 300px ;
}

.hoverDeck:hover {
  color: $orange ;
}

