.footer{
  background-image: url('../../img/footer-img.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  img{
    padding-top: 60px;
    display: flex;
    width:150px;
  }
}
