
* {
  margin: 0 auto;

}

body {
  background-color: $grisFondo;
  font-family: $roboto;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.lista-componentes {
  li {
    margin-top: 50px;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

}
