.window {

  background-color: $brown ;
  border-radius:5px ;
  color:white ;
  display:none ;
  height:300px ;
  left:600px ;
  padding:30px ;
  position:absolute ;
  text-align: center ;
  top:200px ;
  width:600px ;
}

.cancelar {

    position: absolute ;
    height:40px ;
    width: 40px ;
    left:600px ;
    bottom:300px ;
}

#overlay {

  background-color: rgba(0,0,0,0.5) ;
  bottom:0 ;
  display: none ;
  height:100% ;
  left:0 ;
  right:0 ;
  position:fixed ;
  top:0 ;
  width: 100% ;
}

.btn-modal {

  background-color: $orange ;
  border: none ;
  border-radius: 4px ;
  color: $white ;
  cursor: pointer ;
  height: 35px ;
  margin: 100px 0 0 900px ;
  width: 101px ;
}

.btn-modal:hover {

  color:$white ;
  background-color: $orangeHover ;
}

