.header__products {
  background: url(../../img/header-product.jpg) ;
  background-repeat: no-repeat ;
  background-size: cover;
  height: 350px ;
  margin-bottom: 50px;
}
.navegation {
	margin-left: 50px;
	margin-top: -50px;
}
.ubicacion-pagina p{
	font-family: $roboto;
	margin: 0 auto;
	margin-top: 20px;
}

.ubicacion-pagina a{
	color: black;
	float:left;
}
  .ubicacion-pagina a {
	color:#000;
	margin-right: 5px;
  }
.know_more-product {
  display: block ;
    button {
      background-color: $med-brown ;
      border-radius: 5px ;
      cursor: pointer;
      border: none;
      color:white ;
      padding: 8px 10px 8px 15px ;
      margin-top:  10px;
      margin-left: 20px;
    }
}
.best2020__container--info{
  display: block;
  text-align: center;
  justify-content: right;
  color: $det-gray ;
  margin-bottom: 30px;

  span {
    color: $med-brown ;
    font-size: 15px ;
    text-transform: uppercase ;
  }
  h3{
    color: $det-gray ;
    font-size: 1rem ;
  }

  b {
    color: $det-gray ;
    font-size: 1.4rem ;
  }

  p {
    font-size: 14px ;
    font-weight: lighter ;
  }
}
.best2020__container--content{
  div{
    margin-left: -20px;
  }
  img{
    margin-left: -20px;
  }
}
// MODAL


.flex{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  	margin:0;
	padding:0;
	box-sizing: border-box;
}

.textos{
	padding:300px;
	color:#fff;
	text-align: center;
  	margin:0;
	padding:0;
}
.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.5);
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 30%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
}
@keyframes modal{
	from{top:-330px; opacity:0;}
	to{top:0; opacity:1;}
}
.close{
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
 	margin:0;
	padding:0;
	box-sizing: border-box;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
  	margin:0;
	padding:0;
	box-sizing: border-box;
}

.modal-header{
	padding: 8px 12px;
	background: $orange;
	color:$white;

}

.modal__text--decks{
	padding: 20px 16px;
}

.youtube_video{
  padding: 50px;
}
.video{
  margin-left: 14px;
}

@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}
