.header__products {
  background: url(../../img/header-desktop.png) ;
  background-position: center;
  background-size: cover;
  height: 350px ;
  margin-bottom: 50px;
}
.navegation {
	margin-left: 50px;
	margin-top: -50px;
}

.ubicacion-pagina {
  p {
    font-family: $roboto;
    margin: 0 auto;
    margin-top: 20px;
  }

  a{
	color: black;
	float:left;
  margin-right: 5px;
  }
}

.know_more-product {
  display: block ;

  button {
    background-color: $med-brown ;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    color:white ;
    margin-top:  10px;
    margin-left: 20px;
    padding: 8px 10px 8px 15px ;
  }
}

.best2020__container--info {
  color: $det-gray ;
  display: block;
  margin-bottom: 30px;
  justify-content: right;
  text-align: center;

  span {
    color: $med-brown ;
    font-size: 15px ;
    text-transform: uppercase ;
  }

  h3{
    color: $det-gray ;
    font-size: 1rem ;
  }

  b {
    color: $det-gray ;
    font-size: 1.4rem ;
  }

  p {
    font-size: 14px ;
    font-weight: lighter ;
  }
}
.best2020__container--content {
  div {
    margin-left: -20px;
  }

  img {
    margin-left: -20px;
  }
}

.product__details--btn {

    border: 1px solid $orange ;
    border-radius: 8px ;
    background: none;
    cursor: pointer;
    color:$orange;
    padding: 5px 8px 5px 8px ;
    margin-top: 20px ;
    text-align: center ;
}
.product__details--btn:hover{
  background-color: orange;
  color: white;
}
.product__details--btn:hover{
  color: white;
  background-color: $orange;
}
