
.direcciones {

  align-items: center ;
  display: flex ;
  font-size: 20px ;
  justify-content: space-between ;
  margin-top: 90px ;
  position: absolute ;
  top: 0 ;
  width: 400px ;

  button {
    border: none ;
    cursor: pointer ;
    outline: none ;
    padding: 20px ;
    text-decoration: none ;
    border-radius: 10px;

    &:hover {
      background-color:$orange ;
      transition: 0.8s ;
    }
}
}

.miSlider {

  img {
    margin-left: 100px ;
    width: 200px ;
  }
}
.fade {

  animation-name: fade ;
  animation-duration: 1s ;
}

@keyframes fade {

  from {opacity: .2 ;}
  to{opacity:1 ;}
}
