/* Open sans font */

.tabs {

  margin: 40px ;
  max-width: 800px ;
}

.tabs-tablist {

  display: flex ;
  justify-content: center ;
  margin: 0 ;
  margin-bottom: -1px ;
  list-style-type: none ;
  padding: 0 ;
}

.tabs-tablist-item {

  background-color: #eee ;
  border-radius: 5px 5px 0 0 ;
  color: #999 ;
  display: block ;
  font-weight: 700 ;
  padding: 10px 20px ;
  text-decoration: none ;
}

.tabs-content {

  background-color: rgb(255, 254, 254) ;
  padding: 20px ;
  text-align: center ;
}


.js-active {

  background-color: #B8B8B8 ;
  border-bottom: 1px solid #B8B8B8 ;
  color: #000 ;
  transition: 0.5s ;
  transform: scale(1.2) ;
}

.js-content-hidden {

  display: none ;
}
