// Area tabs
.main__areas {
    display: none ;
  }
  
.tabs {
    margin-top: 50px ;
  }

  .title-areas{
    font-size: 1.8rem;
    margin-top: 50px;
    margin-left: 100px;
  }
  
.tabs-tablist {
    display: flex ;
    border-radius: 10px ;
    margin-bottom: 10px ;
  }
  
#street__area{
  box-shadow: 0px 1px 4px 0px rgb(0, 0, 0) ;
  border-radius: 10px ;
  margin-bottom: 20px ;
  height: 85px ;
  cursor: pointer ;

  h3{
    float: right;
    margin-top: 33px ;
    margin-left: 30px ;
    margin-right: 50px ;
  }
}
#park__area{
  box-shadow: 0px 1px 4px 0px rgb(0, 0, 0) ;
  border-radius: 10px ;
  margin-bottom: 20px ;
  height: 85px ;
  cursor: pointer ;

  h3{
    float: right;
    margin-top: 33px ;
    margin-left: 30px ;
    margin-right: 50px ;
  }
}
#downhill__area{
  box-shadow: 0px 1px 4px 0px rgb(0, 0, 0) ;
  border-radius: 10px ;
  margin-bottom: 20px ;
  height: 85px ;
  cursor: pointer ;

  h3{
    float: right;
    margin-top: 33px ;
    margin-left: 30px ;
    margin-right: 50px ;
  }
}

.tabs-content-item{
  margin-top: 10px;
}

.tabs-content {
  text-align: center ;
  width: 600px;
  
  p{
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
}

.js-active {
    transition: 0.5s ;
    transform: scale(1.1) ;
}
  
.js-content-hidden {
    display: none ;
}