@media(max-width: 736px){
    /* sidebar info */
#sidebar {

    background: $black;
    height: 100% ;
    left: -200px ;
    position: fixed ;
    transition: all 500ms linear ;
    width: 191px ;
  }

  #sidebar.active {

    left: 0px ;
  }

  .sidebar-links a{

    width: 150px ;
    border-bottom: 1px solid rgba(100, 100, 100, .3) ;
    color: $white ;
    display: flex ;
    font-family: $roboto ;
    font-size: 12px ;
    list-style: none ;
    padding: 15px 20px ;
    text-align: left ;
    text-decoration: none ;
  }

  .sidebar-links a:hover {

    text-decoration: underline ;
  }

  .toggle-btn {

    color: $white;
    outline: none;
    border: none ;
    cursor: pointer ;
    background-color: rgba(255, 255, 255, 0) ;
    left: 200px ;
    position: absolute ;
    top: 20px ;
  }

  .toggle-btn:active {

    border: none ;
  }

  .toggle-btn span {

    display: block ;
    font-size: 30px ;
    text-align: center ;
    width: 40px ;
  }

  /* wrapper of the first block*/
  .first-block {
    background-image: url("../../img/Pasted\ Graphic.png");
    margin: 0 auto;
    min-width: 375px;
    position: absolute;
    height: 595px;
  }

  /* Form */

  .form {

    -moz-box-shadow: 0px 0px 20px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 20px rgb(0, 0, 0);
    box-shadow: 0px 6px 20px rgb(0, 0, 0);
    font-family: $roboto;
    background-color: $white;
    border-radius: 12px ;
    height: 360px ;
    padding: 10px ;
    width: 325px ;
    margin-top: 100px ;
    margin-left: 15px;
  }

  .form form{

    margin-left: 5px;
  }

  .form h2 {

    font-size: 18px;
    margin-bottom: 20px ;
    margin-top: 10px;
  }

  .form input{

    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 10px;
  }

  .inputEmail {

    border: 1px solid #ccc ;
    border-radius: 4px ;
    margin-bottom: 30px ;
    width: 319px ;
  }

  .nameNumber {

    border: 1px solid #ccc ;
    border-radius: 4px ;
    display: inline-block ;
    margin-bottom: 30px ;
    width: 154px ;
  }


  .btn-form {

    background-color: $orange ;
    border: none ;
    border-radius: 4px ;
    cursor: pointer ;
    color: white ;
    float: right ;
    height: 35px ;
    margin-right: 2px ;
    width: 101px ;
    margin-right: 20px ;
    width: 100px ;
  }

  .btn-form:hover {

    color: white ;
    background-color: $orange ;
  }

  .footer{
      background-image: url('../../img/footer-img.png');
      background-size: cover;
      height: 20px
  }
};
