@media(max-width: 736px){
  /* sidebar info */
  #sidebar {
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    background: $black;
    height: 812px ;
    left: -200px ;
    position: fixed ;
    transition: all 500ms linear ;
    width: 191px ;
  }

  #sidebar.active {
    left: 0px ;
  }

  .sidebar-links a{
    width: 150px ;
    border-top: 0.2px solid rgba(100, 100, 100, .3) ;
    border-bottom: 1px solid rgba(100, 100, 100, .3) ;
    color: $white ;
    display: flex ;
    font-family: $roboto ;
    font-size: 12px ;
    list-style: none ;
    padding: 15px 20px ;
    text-align: left ;
    text-decoration: none ;
  }

  .sidebar-links img {
    width: 42px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 13px;
  }

  .sidebar-links a:hover {
    text-decoration: underline ;
  }

  .toggle-btn {
    color: $white;
    outline: none;
    border: none ;
    cursor: pointer ;
    background-color: rgba(255, 255, 255, 0) ;
    left: 200px ;
    position: absolute ;
    top: 40px ;
  }

  .toggle-btn:active {
    border: none ;
  }

  .toggle-btn span {
    display: block ;
    font-size: 30px ;
    text-align: center ;
    width: 40px ;
  }

  /* wrapper of the first block*/
  .first-block {
    background-image: url("../../img/Pasted\ Graphic.png");
    background-size: cover;
    background-position: center;
    min-width: 375px;
    position: absolute;
    height: 595px;
  }

  /* Form */

  .form {
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0);
    font-family: $roboto;
    background-color: $white;
    border-radius: 12px ;
    height: 370px ;
    padding: 10px ;
    width: 325px ;
    margin-top: 100px ;
    margin-left: 15px;
  }

  .form h2 {
    font-size: 18px;
    margin-bottom: 20px ;
    margin-top: 10px;
  }

  .form input{
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 10px;
  }

  .inputEmail {
    border: 1px solid #ccc ;
    border-radius: 4px ;
    margin-bottom: 30px ;
    width: 319px ;
  }

  .nameNumber {
    border: 1px solid #ccc ;
    border-radius: 4px ;
    display: inline-block ;
    margin-bottom: 30px ;
    width: 154px ;
  }


  .btn-form {
    background-color: $orange ;
    border: none ;
    border-radius: 4px ;
    cursor: pointer ;
    color: white ;
    float: right ;
    height: 35px ;
    margin-right: 2px ;
    width: 100px ;
  }

  .btn-form:hover {
    color: white ;
    background-color: $orange ;
  }
  //   Slider



  // Slider Soon

  .title-soon{
    color: black;
    font-size: 14px;
  }
  .direcciones {
    display: flex ;
    justify-content: space-between ;
    width: 320px ;

    button {
      border: none ;
      cursor: pointer ;
      outline: none ;
      padding: 20px ;
      text-decoration: none ;
      border-radius: 10px;

      &:hover {
        background-color:$orange ;
        transition: 0.8s ;
      }
    }
  }


  .miSlider {
    img {
      margin-left: 100px ;
      margin-top: 400px;
    }
  }
  .fade {
    animation-name: fade ;
    animation-duration: 1s ;
  }

  @keyframes fade {
    from {opacity: .2 ;}
    to{opacity:1 ;}
  }

  // Product detail

  .pro-det {
    text-align: center;
    justify-content: right;
    span {
      color: $med-brown ;
      font-size: 10px ;
      text-transform: uppercase ;
    }
    h3 {

      color: $det-gray ;
      font-size: 16px ;
      font-weight: bold ;
    }
    p {

      font-size: 14px ;
      font-weight: lighter ;
    }
  }

  // footer
  .footer{
    background-image: url('../../img/footer-img.png');
    background-size: cover;
    background-position: center;
    height: 125px;

    img{
      margin-left: 140px;
      margin-top: 5px
    }
  }
};
